:root{
    --spot-big: url("../img/img/jumbo-bg.png");
    --spot-game: url("../img/img/it-takes-two-hero-banner-desktop.jpg");
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

/**********************bottone*******************/

.nav-btn {
    background-color:#363636 ;
    border-radius: 25px;
    padding:10px;
    border: none;
    color: white;
    box-sizing: border-box;
    border: 3px double transparent;
}

.nav-btn:hover {
    border: 3px double white;
}

.dropdown-toggle::after {
    border: 0 !important;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-down' class='svg-inline--fa fa-chevron-down fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23999' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'%3E%3C/path%3E%3C/svg%3E");
    width: 0.8rem;
    height: 1rem;
    vertical-align: middle;
}


.sub-sezion-nav li{
    width: 100px;
    list-style-type: disc;
    display: inline-block;
}

.mt-6 {
    margin-top: 5rem;
}

.dropdown {
    position: static;
}

.dropdown img {
    max-width: 100px;
}


.nav-link {
    color: #999999 !important ;
}

.nav-link:hover {
    color: #4d4b4b !important ;
}

.link-giochi-nav:hover {
    color: blue;
}

.navbar-light .navbar-toggler:hover {
    border: 2px solid black;
    box-shadow: 1px 1px 1px 1px rgb(43, 43, 43);
    
}

.dropdown-menu {
    width: 101%;
    top: 95% !important;
    left: -2px !important;
    margin: 0;
    padding: 0;
}

@media only screen and ( max-width:1000px){
    .minimi-media{
        margin-left: 50%;
    }
    
}


/*********************jumbo-spot*****************/

.jumbo-spot {
    background-image: var(--spot-big);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 80vh;
    background-position:top, center;
}

.btn-jumbo {
    border-radius: 25px;
    border: 3px double transparent;
}

.returnal-container {
    height: 100%;
}

.btn-danger:hover{
    border: 3px double white;
}

/******************************** 6 carte ***************************/

.rol{
    width: 100%;
    position: relative;
    border-radius: 20px;
    height: auto;
}

.up-hover:hover{
    transform: translate( 0, -20%);
    transition: 1s;
}

/******************************  intestazione **********************/
.btn-primary:hover{
    border: 3px double white;
}

.btn-primary{
    border: 3px double transparent;
}

.phnl {
    text-decoration: none;
}

/******************* playstation component ***********************/

.special-component{
    filter: opacity(30%);
    border-bottom: 2px solid transparent;
}

.special-component-fisso{
    border-bottom: 2px solid blue;
    filter: none;
}

.special-component:hover {
    border-bottom: 2px solid blue;
    filter: none;
}

.btn-2-sezioni {
    border-radius: 25px;
}

@media only screen and ( max-width:768px ) {
    
    .dis-start{
        justify-content: flex-start !important;
    }
    
    .deleted {
        display:none;
    }
}

/********************** GAME IT TAKE ************************/

.btn-jumbo-black:hover{
    border: 3px double black;
}

.btn-jumbo-black{
    border: 3px double transparent;
}


.game-it-take {
    background-image: var(--spot-game);
    background-repeat: no-repeat;
    color: white;
    height: 80vh;
}

/********************* CARD GAME***********/
.bg-sezione-3 {
    background-color: rgb(73, 72, 72);
}
/********************  PS4 **************/


/******************** PLAY PLUS **********/

.btn-plus{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}

/****************** SCONTI SU PLAY STORE*********/

/***************** PLAY NOW************/

.bg-sezione-4 {
    background-color: blue;
    color: white;
}


.btn-now{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: black;
    border: 3px double transparent;
    border-radius: 50%;
    background-color: white;
}

.btn-now:hover{
    border: 3px double black;
    background-color: white;
    color: black;
}
/******************** SOCIAL***************/

/****************** FOOTER ****************/

footer {
    background-color: blue;
    color: white;
}

footer ul,
footer li{
    list-style: none;
    padding:0;
    margin: 0;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: white;
}