:root{
    --spot-big: url("../img/img/jumbo-bg.png");
    --spot-game: url("../img/img/it-takes-two-hero-banner-desktop.jpg");

}


/**********************bottone*******************/

.nav-btn {
    background-color:#363636 ;
    border-radius: 25px;
    padding: 10px;
    border: none;
    color: white;
    box-sizing: border-box;
}

.nav-btn:hover {
    border: 3px solid rgb(87, 86, 86);
}

/*********************jumbo-spot*****************/

.jumbo-spot {
    background-image: var(--spot-big);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 80vh;
    background-position:top, center;
}

.umbo-spot p {
    word-wrap: break-word;
}

.btn-jumbo {
    border-radius: 25px;
}

.returnal-container {
    height: 100%;
}

/******************************** 6 carte ***************************/

.rol{
    width: 100%;
    position: relative;
    border-radius: 20px;
    height: auto;
}

/******************************  intestazione **********************/

.phnl {
    text-decoration: none;
}

/******************* playstation component ***********************/

.btn-2-sezioni {
    border-radius: 25px;
}

@media only screen and ( max-width:768px ) {
    
    .dis-start{
        justify-content: flex-start !important;
    }
    
    .deleted {
        display:none;
    }
}

/********************** GAME IT TAKE ************************/

.game-it-take {
    background-image: var(--spot-game);
    background-repeat: no-repeat;
    color: white;
    height: 80vh;
}

/********************* CARD GAME***********/
